<div class="flash-msg flash-result">
  <div class="actions">
    <div class="l-inside">
      <p><%= link_to "undo", undo_results_path %></p>
    </div>
  </div>
  <div class="winner">
    <div class="l-inside">
      <p><%= player result.winner_name %> takes the top position</p>
    </div>
  </div>
  <div class="loser">
    <div class="l-inside">
      <p>relegating <%= player result.loser_name %> to <%= ordinal_position(result.loser) %> place</p>
    </div>
  </div>
</div>
