@import 'mixins/colors';

.flash-result {
  p {
    margin-bottom: 0;
  }

  .winner,
  .loser {
    display: block;
  }
  .winner {
    text-align: left;
    background: -moz-linear-gradient(   left, #00FF00 0%, #00FF00 49.9%, #FFFFFF 50.1%, #FFFFFF 100%);
  }
  .winner .l-inside {
    background: -moz-linear-gradient(  45deg, #00FF00 0%, #00FF00 75%, #FFFFFF 85%, #FFFFFF 100%)
  }
  .loser {
    text-align: right;
    background: -moz-linear-gradient(  right, #FF0000 0%, #FF0000 49.9%, #FFFFFF 50.1%, #FFFFFF 100%);
  }
  .loser .l-inside {
    color: white;
    background: -moz-linear-gradient(-135deg, #FF0000 0%, #FF0000 75%, #FFFFFF 85%, #FFFFFF 100%)
  }

  .actions {
    position: absolute;
    right: 1em;
    p {
      font-size: 1em; /* 16px */
    }
    a {
      padding: 0 3px;
      border: 1px solid $color-button-border;
      border-radius: 4px;
      background: $color-button-background;
      color: $color-button-text;

      text-decoration: none;
    }
  }
}
