@import 'mixins/colors';

.rankings {
  li {
    position: relative;
    width: 100%;
    border-bottom: 1px solid #ccc;
    line-height: 3em;
    list-style: none;
    text-align: center;
  }
  .rankings-position {
    position: absolute;
    left: 1em;
    font-size: 2em;
    font-family: Georgia, sans-serif;
    color: $color-text-subdued;
  }
  .rankings-name {
    font-weight: bold;
    color: $color-text;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  .rankings-elo {
    display: block;
    position: absolute;
    top: 2em;
    right: 1em;
    line-height: 1em;
    height: 1em;
    padding: .2em .5em;
    font-size: .583em;
    color: $color-text-subdued;
  }
}
