@import 'mixins/colors';

.rankings {
  li {
    position: relative;
    width: 100%;
    border-bottom: 1px solid #ccc;
    line-height: 3em;
    padding: 0 .5em;
    list-style: none;
    text-align: center;
  }
  .rankings-position {
    position: absolute;
    left: 1em;
    font-size: 2em;
    font-family: Georgia, sans-serif;
    color: $color-text-subdued;
  }
}
