.result-form {
  width: 100%;
  padding-top: 1.5em;
  background: #ddd;

  .table {
    display: table;
    width: 100%;
  }
  .row {
    display: table-row;
  }
  .row p {
    display: table-cell;
    width: 50%;
    padding-bottom: 1.5em;
  }
  .row p {
    padding-left: .5em;
  }
  .row p:first-child {
    padding: 0 .5em 0 0;
    text-align: right;
  }
  .submit {
    margin: 0 auto;
    padding-bottom: 1px;
    text-align: center;
  }
}

/*
 * States
 */
.result-form.is-hidden {
  padding: 0;
  height: 0;
  overflow: hidden;
}

.result-form {
  height: 100%;
}
