<ol class="ladder">
  <% @ladder.each do |player| %>
    <li class="ladder-entry"><span class="ladder-rank"><%= player.ladder_rank+1 %>.</span> <span class="ladder-name"><%= player.name %></span></li>
  <% end %>
</ol>
