<ol class="rankings">
  <% @players.each do |player| %>
    <li class="rankings-entry"><span class="rankings-position"><%= player.position %>.</span> <span class="rankings-name"><%= player.name %></span></li>
  <% end %>
</ol>
