<ol class="standings">
  <% @players.each do |player| %>
    <li class="entry"><span class="position"><%= player.position %>.</span> <span class="name"><%= player.name %></span></li>
  <% end %>
</ol>
