<div class="standings">
  <ol class="ladder">
    <% @ladder.each do |player| %>
      <li><%= player.name %></li>
    <% end %>
  </ol>

  <ol class="elo">
    <% @elo_ratings.each do |player| %>
      <li><%= player.name %></li>
    <% end %>
  </ol>

  <ol class="rankings">
    <% @rankings.each do |pos, elo_rating| %>
      <li>
        <span class="wrap">
          <span class="position"><span><%= pos %></span></span>
          <span class="elo-rating"><span><%= elo_rating %></span>
        </span>
      </li>
    <% end %>
  </ol>
</div>
