@import "mixins/dimensions";

/*
 * For font sizes, see http://www.alistapart.com/articles/howtosizetextincss/
 */
body {
  font-size:100%;
  line-height: 2.25em;  /* 16px * 2.25em = 36px */
  font-family: Helvetica, 'bitstream vera sans serif', 'lucida grande', Arial, sans-serif;
}
p, ul, ol, dl, table {
  margin-bottom: 1.5em;
}
h1, h2, h3 {
  font-size: 3em;
  line-height: 1.4;
  font-weight: bold;
  margin-bottom: 0.5em;
}
p, li, dl {
  font-size: 1.5em; /* 16px * 1.5em = 24px */
}

dt {
  display: inline-block;
  float: left;
  font-weight: bold;
  margin-right: 1em;
  &:after {
    content: ':';
  }
}

button, input[type=submit] {
  font-size: 1em;
}

body {
  margin: 0;
}

.l-inside {
  max-width: $desktop-max-width;
  width: 100%;
  margin: 0 auto;
}

@media all and (max-width: 600px) {
  .l-inside {
    max-width: 100%;
  }
}

#navbar {
  background: black;
}
#navbar .l-inside {
  display: table;
  height: 3em;
  vertical-align: middle;

  #navbar-inside {
    display: table-row;
  }
  .link {
    display: table-cell;
    height: 100%;
    border-left: 1px solid white;
    text-align: center;
  }
  .link.settings span {
    display: none;
  }
  .link:last-child {
    border-right: 1px solid white;
  }
  .link a {
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    height: 100%;
    width: 100%;
    padding-top: 3px;
    text-decoration: none;
    color: white;
  }
  .link.is-current {
    background: white;
    a {
      color: black;
    }
  }
}
.pagination {
  text-align: right;
  > * {
    display: inline-block;
    min-width: 20px;
    padding: 0 2px;
    text-align: center;
  }
  a {
    color: black;
    text-decoration: none;
  }
}
