@import "mixins/dimensions";

/*
 * For font sizes, see http://www.alistapart.com/articles/howtosizetextincss/
 */
body {
  font-size:100%;
  line-height: 2.25em;  /* 16px * 2.25em = 36px */
  font-family: Helvetica, 'bitstream vera sans serif', 'lucida grande', Arial, sans-serif;
}
h1, h2, p, ul, ol, dl, table {
  margin-bottom: 1.5em;
}
p, li {
  font-size: 1.5em; /* 26px * 1.5em = 24px */
}

body {
  margin: 0;
}

#navbar, #content {
  max-width: $desktop-max-width;
  width: 100%;
  margin: 0 auto;
}

@media all and (max-width: 600px) {
  #navbar, #content {
    max-width: 100%;
  }
}

#navbar-wrap {
  background: black;
}
#navbar {
  display: table;
  height: 3em;
  vertical-align: middle;

  #navbar-inside {
    display: table-row;
  }
  .link {
    display: table-cell;
    height: 100%;
    border-left: 1px solid white;
    text-align: center;
  }
  .link:last-child {
    border-right: 1px solid white;
  }
  .link a {
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    height: 100%;
    width: 100%;
    padding-top: 3px;
    text-decoration: none;
    color: white;
  }
  .link.is-current {
    background: white;
    a {
      color: black;
    }
  }
}

#content .flash {
  border: 1px solid;
  padding: .5em;
  margin: .5em;
  text-align: center;

  &.flash-error {
    background: #FBE3E4;
    color: #8a1f11;
    border-color: #FBC2C4;
  }
}
